html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 22px;
   line-height: calc(38/22*100%);
   color: #7d7d7d;
   background-color: #fff;
 }

.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 25px;
}

/* HEADER */

.header {
   padding-top: 40px;
   margin-bottom: 140px;
}

.header-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo {
   margin-right: 20px;
}

/* HEADER-NAV */

.nav {
   margin-left: auto;
}
.nav__list {
   display: flex;
   padding: 0;
}

.nav__link {
   position: relative;
   margin-right: 70px;
   padding-top: 9px;
   padding-bottom: 13px;
   font-size: 17px;
   line-height: 20px;
   color: #373737;
   text-decoration: none;
   white-space: nowrap;
}

.nav__link:hover::after {
   width: 50%;
}

.nav__link::after {
   position: absolute;
   width: 0%;
   height: 3px;
   background-color: #717cff;
   left: 0;
   bottom: 0;
   transition: width .3s ease;
   
   content: "";
}

.active {
   position: relative;
}

.active::after {
   position: absolute;
   width: 50%;
   height: 3px;
   background-color: #717cff;
   left: 0;
   bottom: 0;
   transition: width .3s ease;
   
   content: "";
}

.btn {
   padding: 12px 33px;
   border: 2px solid #717cff;
   border-radius: 10px;
   text-decoration: none;
   white-space: nowrap;
}

.btn:hover,
.logo:active,
.universities-link:hover, 
.services-card__link:hover {
   opacity: 0.8;
}

.border-btn {
   font-size: 17px;
   line-height: 20px;
   color: #505050;
}

/* HERO SECTION */

.hero {
   background: url("/img/Oval.png") no-repeat;
   background-position: calc(50% + 500px) 100px;
}

.hero-wrapper {
   display: flex;
}

.hero-content {
   width: 50%;
   padding-right: 50px;
}

.main-title {
   margin-top: 0;
   margin-bottom: 15px;
   font-weight: 900;
   font-size: 56px;
   line-height: 66px;
   color: #2F2F2F;
}

.hero-text {
   border-top: 0;
   margin-bottom: 42px;
}

.special {
   color: #717CFF;
}

.primary-btn {
   position: relative;
   margin-bottom: 100px;
   padding-right: 90px;
   background: #717CFF;
   border-radius: 10px;
   color: #fff;
   
}

.primary-btn::before {
   position: absolute;
   background-image: url("/img/arrow.png");
   width: 28px;
   height: 24px;
   top: 12px;
   right: 24px;

   content: "";
}

.social {
   display: flex;
   margin-top: 100px;
   margin-bottom: 60px;

}

.social__link {
   margin-right: 23px;
}

.hero-image {
   background-image: url("/img/student.png");
   background-repeat: no-repeat;
   background-position: right 50px bottom;
   width: 740px;
   height: 565px;
}

.universities {
   padding: 56px 0;
   background: #FAFAFA;
}

.universities-title {
   margin-bottom: 86px;
   font-size: 23px;
   line-height: 27px;
   text-align: center;
   letter-spacing: 2.1px;
   text-transform: uppercase;
   color: #373737;
   opacity: 0.73;
}

.universities-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   margin-bottom: 104px;
   list-style: none;
}

.slider-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider-btn {
   margin-right: 21px;
   width: 10px;
   height: 10px;
   background-color: #7C7C7C51;
   border-radius: 50%;
   border: none;
}

.slider-active,
.slider-btn:hover {
   width: 14px;
   height: 14px;
   background-color: #717cff;
}

/* SERVICES */

.services {
   padding: 125px 0;
}

.section-title {
   margin-top: 0;
   margin-bottom: 25px;
   font-weight: 700;
   font-size: 37px;
   line-height: 54px;
   text-align: center;
   letter-spacing: -0.4625px;
   color: #373737;
}

.section-text {
   margin: 0 auto;
   margin-bottom: 110px;
   width: 950px;
   text-align: center;
}

.services-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.card {
   width: 344px;
   padding: 30px 17px 30px 30px;
   background: #FFFFFF;
   box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
   border-radius: 15px;
   background-repeat: no-repeat;
   background-position: center center;
}

.services-card {
   margin-right: 47px;
   margin-bottom: 56px;
}
.services-card__round {
   margin-bottom: 30px;
   width: 76px;
   height: 76px;
   border-radius: 50%;
}

.career {
   background: url("/img/career.svg") no-repeat center center;
}

.bookmark {
   background: url("/img/bookmark.svg") no-repeat center center;
}

.checked {
   background: url("/img/checked.svg") no-repeat center center;
}

.home {
   background: url("/img/home.svg") no-repeat center center;
}

.airplane {
   background: url("/img/airplane.svg") no-repeat center center;
}

.blue {
   background-color: #717cff;
}

.red {
   background-color: #FF5959;
}

.green {
   background-color: #70CE88;
}

.light-blue {
   background-color: #5C96FF; 
}

.light-red {
   background-color: #FA706C; 
}

.services-card__title {
   margin-top: 0;
   margin-bottom: 9px;
   font-weight: 700;
   font-size: 24px;
   line-height: 37px;
   color: #37474F;
}

.services-card__text {
   margin-top: 0;
   margin-bottom: 25px;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.444444px;
   color: rgba(55, 71, 79, 0.721569);
}

.services-card__link {
   position: relative;
   font-weight: 700;
   font-size: 17px;
   line-height: 20px;
   letter-spacing: 0.439286px;
   color: #717CFF;
   text-decoration: none;
}

.services-card__link::before {
   position: absolute;
   background-image: url("/img/arrow.png");
   width: 28px;
   height: 24px;
   top: 0;
   left: 110px;

   content: "";
}

/* NEWS */

.news {
   background-color: #fafafa;
   padding: 102px 0 124px 0;
}

.news-content {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.news-card {
   width: 344px;
   margin-right: 46px;
   margin-bottom: 46px;
   background: #FFFFFF;
   box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
   border-radius: 10px;
   text-decoration: none;
}

.news-card__img {
   width: 100%;
   height: auto;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.date {
   display: block;
   position: relative;
   padding: 28px 28px 0 56px;
   margin-bottom: 15px;
   font-weight: 900;
   font-size: 16px;
   line-height: 19px;
   color: #565656;
}

.date::before {
   position: absolute;
   background: url("/img/calendar.svg") no-repeat center center;
   width: 24px;
   height: 24px;
   left: 24px;
   content: "";
}

.news-card__title {
   padding: 0 26px;
   margin-bottom: 62px;
   font-weight: bold;
   font-size: 22px;
   line-height: 26px;
   color: #252525;   
}

.news-btn {
   text-align: center;
   margin-top: 100px;
}

/* EVENTS */

.events {
   padding: 105px 0;
}

.events-content {
   display: flex;
   justify-content: center;
   margin-bottom: 80px;
}

.events-card:not(:last-child) {
   margin-right: 47px;
}

.events-card {
   width: 540px;
   padding: 30px;
   background: #FFFFFF;
   box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
   border-radius: 15px;
}

.events-card__header {
   display: flex;
   margin-bottom: 28px;
}

.events-card__date {
   padding: 12px 22px;
   margin: 0;
   margin-right: 42px;
   background: #717dff1c;
   border-radius: 11px;
   text-align: center;
   font-weight: 900;
   font-size: 18px;
   line-height: 21px;
   color: #717CFF;
}

.special-date {
   font-weight: bold;
   font-size: 27px;
   line-height: 32px;
   color: #717CFF;
}

.events-card__title {
   margin: 0;
   font-weight: bold;
   font-size: 24px;
   line-height: 37px;
   color: #37474F;
}

.events-card__text {
   margin-top: 0;
   margin-bottom: 25px;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.444444px;
   color: rgba(55, 71, 79, 0.721569);
}

.events-card__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.time {
   font-weight: 900;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.444444px;
   color: #373737;
}

.countries {
   padding: 82px 160px 136px 144px;
   background-color: #fafafa;
}

.countries-content {
   display: flex;
   justify-content: center;
   margin-bottom: 70px;
}

.countries-card {
   width: 348px;
   margin-right: 46px;
}

.countries-card__image {
   margin-bottom: 27px;
   border-radius: 29px;
}

.countries-card__title {
   margin-top: 0;
   margin-bottom: 11px;
   font-weight: 900;
   font-size: 25px;
   line-height: 29px;
   color: #37474F;
}

.countries-card__text {
   margin: 0;
   font-size: 16px;
   line-height: 27px;
   color: rgba(55, 71, 79, 0.721569);
}

/* TESTIMONIAL */

.testimonial {
   padding: 115px 0 98px 0;
   overflow: auto;
}

.testimonial-content {
   display: flex;
   margin-bottom: 84px;
   overflow: auto;
}

.testimonial-card {
   padding: 39px 34px 46px 34px;
   margin-right: 61px;
   min-width: 500px;
}

.testimonial-card__header {
   display: flex;
   margin-bottom: 30px;
}

.testimonial-card__avatar {
   margin-right: 28px;
   border-radius: 12px;
}

.testimonial-card__name {
   margin-top: 0;
   margin-bottom: 4px;
   font-weight: 900;
   font-size: 22px;
   line-height: 26px;
   color: #37474F;
}

.testimonial-card__position {
   font-size: 18px;
   line-height: 21px;
   color: #37474F;
   opacity: 0.65;
}

.testimonial-card__text {
   margin: 0;
   font-size: 18px;
   line-height: 31px;
   color: rgba(55, 71, 79, 0.721569);
}


